
<!-- <p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p> -->
<style>
.panel-primary>.panel-heading {
    background-image: -webkit-linear-gradient(top,#000000 0,#000000 100%);
    background-image: linear-gradient(to bottom,#f5f5f5 0,#f5f5f5 100%);
    background-repeat: repeat-x;
}
.panel-primary>.panel-heading {
    color: #000000;
    background-color: #000000;
    border-color: #eeeeee;
}
.fa {
    color: black;
}
</style>

<div class="row">
	<div class="col-md-10 panel-primary">
		<div class="content-box-header panel-heading">
			<div class="panel-title"><%= comment.commenter %>  </a></div>
		</div>
		<div class="content-box-large box-with-header">
			<%= comment.body %>
			<br><br>
			<p>
				<%= link_to '<button type="button" class="btn btn-primary">Delete Comment</button>'.html_safe, [comment.article, comment],
				method: :delete,
				data: { confirm: 'Are you sure?' } %>

				<%= link_to '<button type="button" class="btn btn-primary">Edit Comment</button>'.html_safe, edit_article_comment_path(@article, comment) %>

				
			</p>
		</div>
		
	</div>
</div>

