<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
      <!-- Bootstrap Core CSS -->
   <%= stylesheet_link_tag "bootstrap.min"%>

    <!-- Custom CSS -->
    <%= stylesheet_link_tag "modern-business"%>

    <!-- Custom Fonts -->
    <%= stylesheet_link_tag "font-awesome.min"%>

   <%= stylesheet_link_tag "style"%>

       <!-- jQuery -->
   <%= javascript_include_tag"jquery"%>

    <!-- Bootstrap Core JavaScript -->
  <%= javascript_include_tag"bootstrap.min"%>
</head>
<body>

<%= yield %>

</body>
</html>
